body {
    margin: 0;
    font-family: Arial;
    background: #f4f6fb;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 15px;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #2f80ed;
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background: #2f80ed;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

/* MENU */
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 15px;
}

.menu button {
    padding: 12px;
    border: none;
    background: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.menu button:hover {
    background: #2f80ed;
    color: white;
}

/* CONTENT */
.content-box {
    margin-top: 15px;
}

.section {
    display: none;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.section.active {
    display: block;
}

/* MOBILE */
@media (min-width: 768px) {
    .header {
        flex-direction: row;
        gap: 20px;
        text-align: left;
    }

    .menu {
        grid-template-columns: repeat(4, 1fr);
    }
}
